.vscode/
__pycache__/
convertvec/
ct-hate-speech/classifiers/
ct-hate-speech/data/
fastText/
alt-treebank/data
bbc/data
alt-treebank/classifiers
bbc/classifiers
*.pyc
data-collection/temp/
data-collection/data/bible/
data-collection/data/corpus_crawl/
data-collection/data/crowdtangle/
data-collection/data/final_data/segmented/
data-collection/data/final_data/unsegmented/
data-collection/data/oscar_raw
data-collection/data/wiki_dump
data-collection/text/code/temp.py
